<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @feed.title %>
</p>

<p>
  <b>Url:</b>
  <%= @feed.url %>
</p>

<p>
  <b>Created at:</b>
  <%= @feed.created_at %>
</p>

<p>
  <b>Updated at:</b>
  <%= @feed.updated_at %>
</p>


<%= link_to 'Edit', edit_feed_path(@feed) %> |
<%= link_to 'Back', feeds_path %>
